* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1800px;
}

h1 {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
}

#app {
  text-align: center;
  margin: 2rem;
  align-items: left;
}

#container {
  margin: 0 150px;
}

#container input {
  width: 100%;
  border-style: none;
  border-bottom: 1px solid black;
  padding: 10px;
}


#container ul {
  min-width: 200px;
  margin: 2rem;
  list-style: none;
  font-size: 2rem;
  text-align: left;
}

#container ul li {
  padding: 1rem 0;
}

:focus {
  outline: none;
}

@media only screen and (max-width: 720px) {
  #container {
    margin: 0 20px;
  }
}
